# Environment variables
.env
backend/.env
.env.local
.env.*.local

# Audio recordings
backend/audio_commands/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Python Unit Test / Coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Type Checking
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# Virtual Environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Arduino / C++ / Firmware
*.hex
*.elf
*.bin
*.d
*.o
*.a
*.iso
*.p
*.pp
*.lib
*.dll
*.so
*.dylib
*.map

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
*~
*.sublime-workspace
*.sublime-project
.DS_Store

# Mac
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Logs
*.log
